$version: "0.1";
/* This CSS version #{$version}. */

$color-main: #0070bb;
$color-second: white;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
//@import 'bootstrap_custom';

@font-face {
    font-family: 'UniSansHeavy';
    src: url('../fonts/UniSansHeavy-webfont.eot');
    src: url('../fonts/UniSansHeavy-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavy-webfont.woff') format('woff'),
        url('../fonts/UniSansHeavy-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

body {
	background-image: url("../img/tile.png")
}

.logo, .call-phone, h2, h3, li {
	font-family: UniSansHeavy, Arial, sans-serif;
	color: $color-main;
}

header.row {
	padding-top: 26px;
	padding-bottom: 26px;
}

.logo {
	@include make-sm-column(4);
	@include make-sm-column-offset(1);
}

.logo-text {
	font-size: 11pt;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.call {
	text-align: right;
	@include make-sm-column(6);
	padding-bottom: 20px;
	margin-bottom: -20px;
}

.call-tagline img {
	@include img-responsive(inline);
}

.call-phone {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 20pt;
	padding-right: 15px;
	span {
		color: black;
		font-size: 30pt;
	}
}

.title {
	background-image: url("../img/title-bathroom.jpg");
	background-position: right top; 
	overflow: hidden;
	background-size: cover;
	height: 540px;

}

.title-text {
	@include make-sm-column(7);
	@include make-sm-column-offset(3);
	@include make-md-column(6);
	@include make-md-column-offset(6);
	@include make-xs-column-offset(1);
    line-height: 1.2;
    padding-top: 20px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}


h3, li {
	color: $color-second;
}
h3 {
		  font-size: 20pt;
}

ul {
	font-size: 15pt;
	line-height: 1.4;
  list-style-image: url("../img/bullet.png");
  margin-top: 5px;
  padding-left: 33px;
}

article {
	padding-top:30px;
}

.article-left {
	@include make-sm-column(5);
	@include make-sm-column-offset(1);
}
.article-right {
	@include make-sm-column(5);
}

article img {
	width: 100%;
}

.image-frame {
		border-radius: 8px;
}
.image-frame-container {
	border-radius: 8px;
	position: relative;
}


.image-frame-container:after, 
.image-frame-container:before {
  content: "";
  height: 100%; width: 100%;
  background: $color-main;
  //border: 6px solid #fff;
   
  position: absolute;
  z-index: -1;
  top: -3px;
  left: 0;
  	border-radius: 8px;
}

.image-frame-container:before {
	top: 3px;
}

footer {
	@include make-sm-column(10);
	@include make-sm-column-offset(1);
}

.line-bottom {
    margin: 10pt 0 15pt 0;
    height: 2px;
    background-image: url(../img/btm-line.png);
}

footer .call-tagline {
	padding-bottom: 10px;
}
@media (max-width: $screen-xs-min) {
	footer .call-tagline {
		padding-bottom: 40px;
	}
}

@media (max-width: $screen-xs-min) {
	header .call-tagline {
		padding-bottom: 20px;
	}
}

.credits {
    font-size: 8pt;
    text-align: center;
    margin-bottom: 20px;
}