<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Сантехнические работы в Мурманске
  link(rel="stylesheet", href="css/main.css")
body
  .container
    .row
      .logo
        .logo-image
          img(src="img/logo1.png")
        .logo-text Сентехнические работы в Мурманске
      .call
        .call-tagline
          img(src="img/call1.png")
        .call-phone 8 (8152) 23-45-68
    .row
      .title
        .title-text
          h3 Комплексные<br>сантехнические<br>работы
          ul
            li ремонт и замена канализации
            li работа с системой теплоснабжения
            li замена стояков и розлиов
            li установка и замена счётчиков

    .row
      article
        .article-left
          h2 Почему важно выбрать опытного специалиста?
          p.
            Cантехнические работы – это целый спектр услуг по работе с самым сложным и 
            коварным сектором домашнего очага. Такие работы требуют высокой квалификации 
            мастера-сантехника, поскольку неграмотный ремонт может принести гораздо больше 
            разрушений, нежели пользы.
          p.
            Не у каждого человека найдутся время и силы заниматься самостоятельным ремонтом 
            сантехники. К тому же, помимо сил и времени требуются определенные навыки. 
            Неквалифицированный ремонт сантехники опасен не только случайно поломкой 
            сантехнических приборов, но и вероятностью затопления своей квартиры, 
            а также квартир соседей снизу. В случае, если Вы – не сантехник, 
            то проще и дешевле обратиться к компанию, специализирующуюся на установке и 
            ремонте сантехнических приборов.
        
        .article-right
          h2 Почему выбирают нас?
          p.
            Наши специалисты-сантехники проведут любые работы в самые сжатые сроки.
            Квалификация наших мастеров позволяет интегрировать разнообразные сантехнические 
            устройства, даже самые современные и технически сложные. 
            Любая работа будет выполнена аккуратно, точно и в срок, а результат 
            подтверждается нашей гарантией на все выполняемые работы. 
            У нас работают только опытные специалисты со стажем работы от 10 лет. 
            Мы в ответе за качество выполняемой нами работы.
          p.
            Сантехнические услуги, по желанию заказчика, выполняется c заключением договора, 
            в котором определяются виды и объемы работ, сроки выполнения и гарантии. 
            При необходимости отчетности для клиента оформляются все нужные документы – 
            акты сдачи-приемки работ, квитанции, гарантийные талоны и т.п.

    .row
      footer
        .call-tagline
          img(src="img/call2.png")
        .call-phone 8 (8152) 23-45-68    

script(src='js/main.js')
